ul {
    list-style-type: none;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    transition: 0.3s ease, color 0.3s ease;
}

body, .container, .box, #task, #add, li, button, #clear, .progress, #progress-bar, .changeMode, .round, .darkMode, .heading, .dark {
    transition: 0.3s ease;
}

:root {
    --main-color: #5CA9E9;
    --secondary-color: #E4F3E3;
    --box-gradient: linear-gradient(to right, #e4f3e37a, #dfeaf2);
    --text-colour: #333;
    --task-colour: #fff;    
    --form-colour: #fff;
}
.darkMode {
    --main-color: #333;
    --secondary-color: #555;
    --box-gradient: linear-gradient(to right, #444, #666);
    --text-colour: white;
    --task-colour: #aaaaaa;    
    --form-colour: #444;
}

.container {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, var(--secondary-color), var(--main-color));
}

.box {
    width: 40vw;
    height: 550px;
    background: var(--box-gradient);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

#task {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    background-color: var(--form-colour);
}

#task:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.main {
    height: 480px;
    overflow: scroll;
    scrollbar-width: none;
}


#add {
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 20px;
    background-color: var(--main-color);
    padding: 15px;
    position: absolute;
    right: 0px;
    color: var(--text-colour);
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form {
    position: relative;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

li {
    background-color: var(--task-colour);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

li::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url('check.png');
    /* background-size: cover; */
    background-position: center;
    border-radius: 50%;
    margin-right: 10px;
}

li button {
    background-color: #ff4d4d;
    border: none;
    color: var(--text-colour);
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}

ul li.checked::before {
    background-size: cover;
}

#clear {
    background-color: #ff4d4d;
    border: none;
    color: var(--text-colour);
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
}

.progress {
    font-size: 16px;
    font-weight: 600;
    width: 40vw;
    margin-top: 20px;
    color: var(--text-colour);
    display: flex;
    flex-direction: column;
    line-height: 0;

}

#progress-bar {
    width: 0%;
    height: 20px;
    margin-top: 10px;
    background-color: var(--main-color);
    justify-content: flex-end;
    display: flex;
    justify-content: right;
    align-items: center;
}

/* change colour Mode */
.changeMode {
    width: 55px;
    height: 30px;
    background-color: var(--main-color);
    border: none;
    color: var(--text-colour);
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: right;
}
.round{
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://img.icons8.com/?size=100&id=45475&format=png");
    background-size: cover;
    transition: all 0.3s ease;

}

.darkMode .round {
    background-image: url("https://img.icons8.com/?size=160&id=q4yXFoEnYRH7&format=png");
}
.dark {
    justify-content: left;

}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;

}



@media (max-width: 950px) {
    .box {
        width: 60vw;
    }

    #task {
        width: 95%;
    }

    #add {
        width: 60px;
    }
}

@media (max-width: 710px) {
    .box {
        width: 70vw;
    }

    #task {
        width: 95%;
    }

    #add {
        width: 60px;
    }
}

@media (max-width: 450px) {
    .box {
        width: 90vw;
    }

    #task {
        width: 95%;
    }

    #add {
        width: 60px;
    }
}